<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.css">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.js"></script>
<script src="/js/home.js"></script>
<link rel="stylesheet" href="/css/home.css">

</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-primary navbar-top">
  <a class="navbar-brand" href="/">AMMA ZON</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <form style="text-align: center;" action="javascript:void();" onsubmit="if(this.t1.value!='')parent.findString(this.t1.value);return(false);"><input type="text" id="t1" name="t1" placeholder="Search Product" size="20"><input type="submit" name="b1" value="Search"></form>
  <div class="collapse navbar-collapse" id="navbarNav">
      
    <div class="ml-auto px-2 m-1">
      <span id="nav-username" class="text-secondary font-weight-bold m-1">
          &nbsp;&nbsp;
          <a class="navbar-brand" href="/login">Login</a>
          &nbsp;&nbsp;
          <a class="navbar-brand" href="/signup">Signup</a>
    </span>
    </div>
  </div>
</nav>
<br>

<div id="cart" style="text-align:right"></div>
<h1 class="h1 text-center">Products</h1>

<div id="carouselExampleIndicators" class="carousel slide"  data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" src="../assets/1.jpeg" alt="First slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="../assets/1.jpeg" alt="Second slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="../assets/1.jpeg" alt="Third slide">
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
{{!-- 
<button onclick="btnclicked(1)">Addtocart</button>
<button onclick="btnclicked(2)">Addtocart</button>
<button onclick="btnclicked(3)">Addtocart</button>
<button onclick="btnclicked(4)">Addtocart</button> --}}
{{!-- <div id="cartlist">
Items With Product Id Below Are Added To Cart
<br>
<ul id="cartvalue">

</ul>
</div> --}}
<h1>Recently Added</h1>
<div class="container my-2">

  <div class="row" id="products-container">
      
  </div>
</div>
<script>
 loadProducts()
  </script>
<center>
<h3>Mind Refreshing Quotes</h3>
</center>
<br>
Got Confused while choosing the amazing Products refresh your mind by reading to the Quotes
<br>
<!--Carousel Wrapper-->
<div id="multi-item-example" class="carousel slide carousel-multi-item" data-ride="carousel">

  <!--Controls-->
  <div class="controls-top">
    <a class="btn-floating" href="#multi-item-example" data-slide="prev"><i class="fas fa-chevron-left"></i></a>
    <a class="btn-floating" href="#multi-item-example" data-slide="next"><i
        class="fas fa-chevron-right"></i></a>
  </div>
  <!--/.Controls-->

  <!--Indicators-->
  <ol class="carousel-indicators">
    <li data-target="#multi-item-example" data-slide-to="0" class="active"></li>
    <li data-target="#multi-item-example" data-slide-to="1"></li>
    <li data-target="#multi-item-example" data-slide-to="2"></li>
  </ol>
  <!--/.Indicators-->

  <!--Slides-->
  <div class="carousel-inner" role="listbox">

    <!--First slide-->
    <div class="carousel-item active">
    <div class="row">
      <div class="col-md-4">
        <div class="card mb-2">
          <img class="card-img-top"
            src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(34).jpg"
            alt="Card image cap">
          <div class="card-body">
            <h4 class="card-title">Richard Phillip Feynman</h4>
            <p class="card-text">
"I think Nature's imagination is so much greater than man's, she's never gonna let us relax!"</p>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card mb-2">
          <img class="card-img-top"
            src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(18).jpg"
            alt="Card image cap">
          <div class="card-body">
            <h4 class="card-title">Alice Walker</h4>
            <p class="card-text">
"In nature, nothing is perfect and everything is perfect. Trees can be contorted, bent in weird ways, and they're still beautiful."</p>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card mb-2">
          <img class="card-img-top"
            src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(35).jpg"
            alt="Card image cap">
          <div class="card-body">
            <h4 class="card-title">Steve Maraboli</h4>
            <p class="card-text">
"Plant seeds of happiness, hope, success, and love; it will all come back to you in abundance. This is the law of nature."</p>
          </div>
        </div>
      </div>
    </div>
    </div>
    <!--/.First slide-->

    <!--Second slide-->
    <div class="carousel-item">
    <div class="row">
      <div class="col-md-4">
        <div class="card mb-2">
          <img class="card-img-top"
            src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(60).jpg" alt="Card image cap">
          <div class="card-body">
            <h4 class="card-title">Sameh Elsayed</h4>
            <p class="card-text">Sometimes while you are so passionately busy building, there will be others as busy destroying. Do not stop. One day you will notice how high above you get, and how down below they end up</p>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card mb-2">
          <img class="card-img-top"
            src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(47).jpg" alt="Card image cap">
          <div class="card-body">
            <h4 class="card-title">Aristotle</h4>
            <p class="card-text">
"In all things of nature there is something of the marvelous."</p>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card mb-2">
          <img class="card-img-top"
            src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(48).jpg" alt="Card image cap">
          <div class="card-body">
            <h4 class="card-title">F. A. Barillas</h4>
            <p class="card-text">If you are asked to build a castle, don't build it out of sand by the ocean, don't build it out of ice in the middle of summer. Build it with the best materials, with the best design, and with the intention to make it last the passing of time. That castle ought to be your legacy.</p>
          </div>
        </div>
      </div>
    </div>
    </div>
    <!--/.Second slide-->

    <!--Third slide-->
    <div class="carousel-item">
    <div class="row">
      <div class="col-md-4">
        <div class="card mb-2">
          <img class="card-img-top"
            src="https://mdbootstrap.com/img/Photos/Horizontal/Food/4-col/img%20(53).jpg" alt="Card image cap">
          <div class="card-body">
            <h4 class="card-title">Guy Fieri</h4>
            <p class="card-text">
"Cooking is all about people. Food is maybe the only universal thing that really has the power to bring everyone together. No matter what culture, everywhere around the world, people eat together."</p>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card mb-2">
          <img class="card-img-top"
            src="https://mdbootstrap.com/img/Photos/Horizontal/Food/4-col/img%20(45).jpg" alt="Card image cap">
          <div class="card-body">
            <h4 class="card-title">Virginia Woolf</h4>
            <p class="card-text">
"One cannot think well, love well, sleep well, if not has not dined well."</p>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card mb-2">
          <img class="card-img-top"
            src="https://mdbootstrap.com/img/Photos/Horizontal/Food/4-col/img%20(51).jpg" alt="Card image cap">
          <div class="card-body">
            <h4 class="card-title">Alan D Wolfelt</h4>
            <p class="card-text">“Food is symbolic of love when words are inadequate.” </p>
          </div>
        </div>
      </div>
    </div>
    </div>
    <!--/.Third slide-->

  </div>
  <!--/.Slides-->

</div>
<!--/.Carousel Wrapper-->




  {{!-- FOOTER --}}
<footer id="footer" class="bg-dark text-white py-5">
    <div class="container">
      <p class="float-right">
      <a href="#">Back to top</a>
    </p>
    
      <div class="row">
        <div class="col-lg-3 col-12">
          <h4 class="font-rubik font-size-20">Amma Zon</h4>
          <p class="font-size-14 font-rale text-white-50">A Complete Family Shopping.</p>
        </div>
        <div class="col-lg-2 col-12">
          <h4 class="font-rubik font-size-20">Information</h4>
          <div class="d-flex flex-column flex-wrap">
            <a href="/togetstarted" class="font-rale font-size-14 text-white-50 pb-1">About Us</a>
          </div>
        </div>
        <div class="col-lg-2 col-12">
          <h4 class="font-rubik font-size-20">Account</h4>
          <div class="d-flex flex-column flex-wrap">
            <a href="/login" class="font-rale font-size-14 text-white-50 pb-1">My Account</a>
          </div>
        </div>
      </div>
    </div>
  </footer>

  <div class="copyright text-center bg-dark text-white py-2">
    <p class="font-rale font-size-14">&copy; Copyrights 2020. Desing By <a href="https://www.linkedin.com/in/shivam-singla7374/" class="color-second">Shivam_Singla</a></p>
  </div>
</body>
</html>