<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <link defer rel="stylesheet" href="/css/login.css">
    <style>
        .error{
            color: red;
        }
    </style>
</head>
<body>
      <nav class="navbar navbar-expand-lg navbar-light bg-primary navbar-top">
  <a class="navbar-brand" href="/">AMMA ZON</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <div class="ml-auto px-2 m-1">
      <span id="nav-username" class="text-secondary font-weight-bold m-1">
          <a class="navbar-brand" href="/signup">Signup</a>
    </span>
    </div>
  </div>
</nav>
<br>
<center><h1>Login</h1></center>
    
    <div class="error">{{error}}</div>
{{!-- <form action="/login" method="post">
  <div class="form-group">
    <label for="exampleInputEmail1">Username</label>
    <input class="form-control" aria-describedby="emailHelp" type="text" name="username" id="username" placeholder="Username">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input class="form-control" type="password" name="password" id="password" placeholder="Password">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form> --}}

<div id="login">
        <div class="container">
            <div id="login-row" class="row justify-content-center align-items-center">
                <div id="login-column" class="col-md-6">
                    <div id="login-box" class="col-md-12">
                        <form id="login-form" class="form" action="/login" method="post">
                            <h3 class="text-center text-infor">Login Details</h3>
                            <div class="form-group">
                                <label for="username" class="text-infor">Username:</label><br>
                                <input type="text" name="username" id="username" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="password" class="text-infor">Password:</label><br>
                                <input type="password" name="password" id="password" class="form-control">
                            </div>
                            <div class="form-group">
                                {{!-- <label for="remember-me" class="text-infor">
                                <span>Remember me</span> 
                                <span><input id="remember-me" name="remember-me" type="checkbox"></span>
                                </label> --}}
                                <br>
                                <input type="submit" name="submit" class="btn btn-infor btn-md" value="Login">
                            </div>
                            <div id="register-link" class="text-right">
                                <a href="/login" class="text-infor">Register here</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br><br><br>
  {{!-- FOOTER --}}
<footer id="footer" class="bg-dark text-white py-5">
    <div class="container">
      <p class="float-right">
      <a href="#">Back to top</a>
    </p>
    
      <div class="row">
        <div class="col-lg-3 col-12">
          <h4 class="font-rubik font-size-20">Amma Zon</h4>
          <p class="font-size-14 font-rale text-white-50">A Complete Family Shopping.</p>
        </div>
        <div class="col-lg-2 col-12">
          <h4 class="font-rubik font-size-20">Information</h4>
          <div class="d-flex flex-column flex-wrap">
            <a href="/togetstarted" class="font-rale font-size-14 text-white-50 pb-1">About Us</a>
          </div>
        </div>
        <div class="col-lg-2 col-12">
          <h4 class="font-rubik font-size-20">Account</h4>
          <div class="d-flex flex-column flex-wrap">
            <a href="/login" class="font-rale font-size-14 text-white-50 pb-1">My Account</a>
          </div>
        </div>
      </div>
    </div>
  </footer>

  <div class="copyright text-center bg-dark text-white py-2">
    <p class="font-rale font-size-14">&copy; Copyrights 2020. Desing By <a href="https://www.linkedin.com/in/shivam-singla7374/" class="color-second">Shivam_Singla</a></p>
  </div>
  </body>
</html>